/* 编写全局样式 */


/* 主页面样式 */

html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
}


/* 表格样式 */

.el-table {
    width: 100%
}


/* 面包屑导航的全局样式 */

.el-breadcrumb {
    font-size: 16px;
}

.el-pagination {
    margin-top: 10px;
    text-align: right;
    line-height: 40px;
}


/* 图标全局样式 */

.icon-antiquewhite {
    color: antiquewhite;
}

.menu-icon {
    width: auto;
    height: 1em;
    /* 或任意其它字体大小相对值 */
    /* 要在 Safari 中正常工作，需要再引入如下两行代码 */
    max-width: 100%;
    max-height: 100%;
    padding-right: 10px;
}